body { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrap {
    display: flex;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #000000;
}