body { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editButton {
    background-color: rgb(255, 0, 0);
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
}

.grid {
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    flex: auto;
}

.square {
    flex-grow: 1;
    background-color: rgb(0, 0, 0);
}